<ion-modal-view >
<ion-nav-bar class="bar-positive">
        </ion-nav-bar>
  		<ion-content class="padding">

      <div class="list list-inset">
          
              <label class="item item-input">
              <input type="password" placeholder="Please Enter Old Password" ng-model="data.username">
          </label>
          <label class="item item-input">
              <input type="password" placeholder="Please Enter New Password" ng-model="data.password">
          </label>
          
          <label class="item item-input">
              <input type="password" placeholder="Please Enter Confirm New Password" ng-model="data.confirmPassword">
          </label>

      </div>
        <button class="button button-block button-dark" ng-click="">Submit</button>


     
  </ion-content>
  </ion-modal-view>