<ion-view view-title="Settings" name="Settings-view">
<ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>
      </ion-nav-bar>
  		<ion-content class="padding">


      <button class="button button-block button-calm" ng-click="">Notification</button>
       <button class="button button-block button-calm" ng-click="">Currency</button>

      <button class="button button-block button-calm" ng-click="">About</button>
       <button class="button button-block button-calm" ng-click="">Send Feedback</button>
      <button class="button button-block button-calm" ng-click="changePassword()">Change Password</button>
       <button class="button button-block button-calm" ng-click="">Help</button>
    

     
  </ion-content>
</ion-view>